body {
    display: flex;
    justify-content: right;
    background-color: #720101;
    color: rgb(255, 255, 255);
    padding: 0%;
    margin: 0%;
    animation: animacion 1.5s ease-in-out;
    font-family:serif;
    border-color: #720101;
}

@keyframes animacion {
    from {
        filter: blur(20px);
        opacity: 0;
    }
}

p {
    font-size: 30px;
    text-align: justify;
}

.Session {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50vw;
    height: 97.8vh;
    background-color: rgb(75, 17, 17);
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 50px 3px #d1cec6;
    margin-left: 0px;
}

.boton {
    height: 40px;
    width: 25%;
    color: rgb(106, 21, 21);
    text-decoration: none;
    padding: 5px 10px;
    background-color: #e7e7e7;
    border-radius: 5px;
    border: 2px solid #cda54d00;
    font-size: 120%;
    text-align: center;
    box-shadow: 1px 1px 5px 3px #632c25;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.boton:hover {
    background-color: #080808;
    border: 2px solid #ffffff;
    box-shadow: 0 4px 8px rgba(71, 70, 60, 0.999);
}

.boton:active {
    background: #e7a5a5;
}

.Session img {
    margin-top: 10vh;
    transition: transform 0.3s ease-in-out, filter 0.3s ease;
    animation: animacion 0.9s ease-in-out;
    height: 40%;
    width: 40%;
    border-radius: 50px;
}
.Session img:hover {
    transform: scale(1.1);
    filter: brightness(1.2) contrast(1.1);
}

.img {
    width: 100vw;
    height: 100vh;
}





