body {
    padding: 0%;
    margin: 0%;
    animation: animacion 1s ease-in-out;
    font-family: serif; 
    background: linear-gradient(90deg, #000000, #2c1616, #700000, #4c0000);
}

.menu {
    background: -webkit-linear-gradient(90deg, #000000, #2c1616, #700000, #4c0000);
    background: linear-gradient(90deg, #000000, #2c1616, #700000, #4c0000);
    width: 98.8vw;
    height: 15vh;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    position: sticky;
    border-bottom-right-radius: 300px;
    border-bottom-left-radius: 300px;
    animation: animacionSuperior 1s ease-in-out;
}

@keyframes animacionSuperior {
    from {
        transform: translateY(-100%);
        filter: blur(20px);
        opacity: 0;
    }
}

 img {
    display: block;
    margin: auto;
    place-items: center;
    height: 80vh;
    background-color: #ffffff;
} 

a {
    text-align: center;
    height: 60px;
    width: 10%;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(205, 165, 77, 0);
    border: 2px solid #ffffff00;
    border-radius: 5px;
    margin: 10px;
    font-size: 120%;
    animation: animacionSuperior 1.1s ease-in-out;
}

a:hover {
    background-color: #c36d6d;
    border: 2px solid #ffffff;
}

a:active {
    background: #ffffff;
    color: rgb(106, 21, 21);
}