body {
    background-color: #cccccc;
    padding: 0%;
    margin: 0%;
    animation: animacion 1s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes animacion {
    from {
        filter: blur(20px);
        opacity: 0;
    }
}

h1 {
    text-align: center;
}

.msg-ok {
    color: #00a200;
    margin: 0 40%;
    font-size: 30px;
    text-align: justify;
}

.msg-error {
    color: #ff0000;
    margin: 0 40%;
    font-size: 30px;
    text-align: justify;
}

.botones {
    height: 40px;
    width: 17%;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #2150ea;
    border-radius: 5px;
    border: 2px solid #cda54d00;
    font-size: 120%;
    text-align: center;
    box-shadow: 1px 1px 5px 3px #d1cec6;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-left: 20%;
}

.botones:hover {
    background-color: #080808;
    border: 2px solid #ffffff;
    box-shadow: 0 4px 8px rgba(71, 70, 60, 0.999);
}

.botones:active {
    background: #faaf4d;
}